<div class="container">
  <div class="row">
    <form name="form" #f="ngForm" novalidate class="input-form">
      <div class="form-group">
        <label>Nazwa</label>
        <input type="text"
               id="name"
               class="form-control"
               name="name"
               placeholder="Co zamawiamy?"
               [(ngModel)]="model.name"/>
      </div>
    </form>
  </div>
  <div class="row">
    <form name="form" #f="ngForm" novalidate class="input-form">
      <div class="form-group">
        <label>Opis</label>
        <textarea type="text"
                  id="description"
                  class="form-control"
                  name="description"
                  [(ngModel)]="model.description"
        ></textarea>
      </div>
    </form>
  </div>
  <button type="submit" class="btn btn-success pull-right" (click)="sendNewOrder()">
    <span>Otwórz zamówienie  </span>
    <i class="fa  fa-paper-plane"></i>
  </button>
</div>
