<mat-toolbar class="mb-3">Dopisz się do zamówienia</mat-toolbar>
<form [formGroup]="orderDetailsForm" (keydown)="onKeydown($event)">
  <mat-form-field class="col-4">
    <input matInput placeholder="Danie" formControlName="dish" required/>
  </mat-form-field>
  <mat-form-field class="col-3">
    <input matInput placeholder="Uwagi" formControlName="description"/>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input matInput placeholder="Cena" formControlName="price" required/>
    <span matSuffix>zł</span>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input matInput placeholder="Dodatkowe koszta" formControlName="extra"/>
    <span matSuffix>zł</span>
    <mat-hint>Opakowanie itp.</mat-hint>
  </mat-form-field>
  <button mat-flat-button
          color="primary" style="display: inline"
          (click)="addToOrder()"
          [disabled]="orderDetailsForm.invalid">
    <i class="fa  fa-plus"></i>
  </button>
</form>
