<mat-toolbar class="mb-3">Dopisz się do zamówienia</mat-toolbar>
<form>
  <mat-form-field class="col-4">
    <input matInput placeholder="Danie" [(ngModel)]="this.model.dish" [name]="this.model.dish"
           [ngModelOptions]="{standalone: true}"/>
  </mat-form-field>
  <mat-form-field class="col-3">
    <input matInput placeholder="Uwagi" [(ngModel)]="this.model.description" [name]="this.model.description"
           [ngModelOptions]="{standalone: true}"/>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input matInput placeholder="Cena" [(ngModel)]="this.model.price" [name]="this.model.price"
           [ngModelOptions]="{standalone: true}"/>
    <span matSuffix>zł</span>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input matInput placeholder="Dodatkowe koszta" [(ngModel)]="this.model.extra" [name]="this.model.extra"
           [ngModelOptions]="{standalone: true}"/>
    <span matSuffix>zł</span>
    <mat-hint>Opakowanie itp.</mat-hint>
  </mat-form-field>
  <button mat-flat-button color="primary" style="display: inline" (click)="addToOrder()">
    <i class="fa  fa-plus"></i>
  </button>
</form>
